/*<----------------------------------------------Root Stuff---------------------------------------------->*/
@font-face {
	font-family: Maker;
	src: url(assets/font.woff);
}
:root{
	--phoneUnit: 0.6rem;
	--phoneBorder: 27px solid transparent;
	--desktopUnit: 0.8rem;
	--desktopBorder: 33px solid transparent;
	--titleColour: #f292cf;
	--textColour: #ffbaa7;
	--textShadowColour: #644238;
	--textShadow: 1px 0px 2px var(--textShadowColour),
				  0px 1px 2px var(--textShadowColour),
				  -1px 0px 2px var(--textShadowColour),
				  0px -1px 2px var(--textShadowColour),
				
				  1px 1px 2px var(--textShadowColour),
				  -1px 1px 2px var(--textShadowColour),
				  1px -1px 2px var(--textShadowColour),
				  -1px -1px 2px var(--textShadowColour);
	--borderColour: #624438;
	--borderWidth: 1px;
	--borderImg1: url(assets/contentBorder1.png) 11 repeat;
	--borderImg2: url(assets/contentBorder2.png) 11 repeat;
	--ditherFill: url(assets/dither.png), rgba(48,33,27,.8);
	--bannerFill: linear-gradient(
				   295deg,
				   rgba(0,0,0,0) 50%,
				   rgb(222,146,124) 50% 50.25%,
				   rgb(244,161,136) 50.25% 50.75%,
				   rgb(222,146,124) 50.75% 51%,
				   rgba(0,0,0,0) 51%),
		
				  linear-gradient(
				   65deg,
				   rgba(244,161,136,.8) 30%,
				   rgba(244,161,136,.85) 30% 70%,
				   rgba(244,161,136,.8) 70%);
}
/*<----------------------------------------------General Items---------------------------------------------->*/
html{
	font-family: Maker;
	font-size: 70px;
	text-align: center;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
body{
	margin: 0;
}
h1{
	margin: 0;
	padding-bottom: 20px;
	color: var(--titleColour);
	letter-spacing: 8px;
	word-spacing: 16px;
	line-height: 50px;
	text-align: center;
	text-shadow: var(--textShadow);
}
p{
	vertical-align: middle;
	font-size: .5rem;
	letter-spacing: 0px;
	word-spacing: 3px;
	line-height: 1.25;
	color: var(--textColour);
	text-shadow: var(--textShadow);
}
a{
	vertical-align: middle;
	font-size: .7rem;
	letter-spacing: 1.75px;
	line-height: 45px;
	color: var(--titleColour);
	text-shadow: var(--textShadow);
	padding: .1rem;
	border-width: var(--borderWidth);
	border-style: solid;
	border-color: transparent;
}
button{
	cursor: pointer;
	font-family: inherit;
	background-color: transparent;
	border: none;
	vertical-align: middle;
	font-size: .5rem;
	letter-spacing: 1.75px;
	line-height: 1.25;
	color: var(--textColour);
	text-shadow: var(--textShadow);
}
input{
	font-family: inherit;
	background-color: rgba(48,33,27,.5);
	border-width: var(--borderWidth);
	border-style: solid;
	border-color: var(--borderColour);
	vertical-align: middle;
	font-size: .5rem;
	letter-spacing: 1.75px;
	line-height: 1.25;
	color: var(--textColour);
	text-shadow: var(--textShadow);
}
div.banner {
	margin-top: 0px;
	position: fixed;
	z-index: 7;
	width: 100%;
	background: var(--bannerFill);
	border-style: solid;
	border-color: var(--borderColour);
	border-bottom-width: 1px;
	border-top:none;
	border-left: none;
	border-right: none;
}
div.paragraph{
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding-left: 1vw;
	padding-right: 1vw;
	background: var(--ditherFill);
	background-size: 1vw;
	background-clip: padding-box;
	border: var(--desktopBorder);
	border-image: var(--borderImg2);
	-webkit-border-image: var(--borderImg2);
	-moz-border-image: var(--borderImg2);
	-o-border-image: var(--borderImg2);
	border-image-slice: 17;
}
div.content{
	z-index: 5;
	position: absolute;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}
.button{
	background-size: 300% 300%;
	background-repeat: no-repeat;
	background-image: url(assets/ButtonSprites.png);
	border-width: var(--borderWidth);
	border-style: solid;
	border-color: var(--borderColour);
}
.contacts{
	right: 0px;
	display: inline-block;
	position: absolute;
}
.twitchLink{
	background-position: 50% 0%;
}
.youtubeLink{
	background-position: 0% 50%;
}
.instaLink{
	background-position: 100% 0%;
}
.twitterLink{
	background-position: 50% 50%;
}
.contact {
	background-position: 0% 100%;
}
.gdcLink {
	margin-left: 10%;
	background-position: 100% 50%;
}
.redditLink{
	margin-left: 5px;
	margin-right: 5px;
	right: 0px;
	background-position: 50% 100%;
}
.dropdown{
	position: absolute;
	display: inline-block;
	left: 0px;
}
input.dropdownbutton{
	background-position: 0% 0%;
}
div.dropdowncontent{
	display: none;
	position: absolute;
	z-index: 9;
}
.dropdowncontent a:hover {
	text-shadow: var(--textShadow);
	background-color: rgba(0,0,0,.1);
	border-width: var(--borderWidth);
	border-style: solid;
	border-color: var(--borderColour);
}
.dropdown:hover .dropdowncontent{
	display: block;
}
.dropdown:hover .dropdownbutton{
	background-color: none;
}
html::-webkit-scrollbar{
	width: 0px;
}
/*<----------------------------------------------Scaling Stuff---------------------------------------------->*/
/*Phones*/
@media screen and (max-aspect-ratio: 16/9) {
	.rexColumn img:active {
		transform: scale(4,4);
	}
	div.rexColumn{
		width: 100%;
	}
	h1{
		font-size: var(--phoneUnit);
		padding-top: 10px;
		padding-bottom: 5px;
	}
	div.padding{
		padding-bottom: 100px;
	}
	div.dropdown{
		margin-top: 0;
		margin-left: .2rem;
		position: fixed;
		z-index: 10;
	}
	.button{
		height: var(--phoneUnit);
		width: var(--phoneUnit);
	}
	.contacts{
		margin-top: 10px;
		margin-left: .2rem;
		position: fixed;
		z-index: 10;
	}
	mark.welcome{
		display: none;
	}
	div.intro {
		border: var(--phoneBorder);
	}
	div.selfPromo {
		cursor: pointer;
		border: var(--phoneBorder);
		background-image: url(assets/PromoMobile.png);
		height: 30vh;
		width: 60%;
	}
	div.monthlyIdea {
		height: 50vh;
		border: var(--phoneBorder);
	}
	div.random {
		border: var(--phoneBorder);
	}
	div.option{
		width: 32vh;
		height: 35.955vh;
		margin-top: 10vw;
		margin-left: auto;
		margin-right: auto;
		border: var(--phoneBorder);
	}
	div.option input{
		height: 35.955vh;
		width: 100%;
	}
	div.photoContainer {
		margin-left: 20%;
	}
	table.colourPallet{
		height: 360%;
	}
}
/*Desktop 16/9*/
@media screen and (min-aspect-ratio: 16/9) {
	html{
		overflow-x: hidden;
	}
	.rexColumn img:active {
		transform: scale(1.5,1.5);
	}
	h1 {
		font-size: var(--desktopUnit);
		padding-top: 20px;
		padding-bottom: 10px;
	}
	div.padding {
		padding-bottom: 150px;
	}
	div.dropdown{
		margin-top: .3%;
		margin-left: .5%;
		z-index: 10;
	}
	.contacts{
		margin-top: .3%;
		margin-right: .5%;
		z-index: 10;
	}
	.button{
		height: var(--desktopUnit);
		width: var(--desktopUnit);
	}
	mark.welcome{
		position: absolute;
		width: 100%;
		margin: 0;
		z-index: 11;
		background: transparent;
		color: var(--titleColour);
		text-shadow: var(--textShadow);
		transform: rotate(30deg);
		float: right;
		animation-name: welcome;
		animation-duration: 4s;
	}
	div.intro {
		border: var(--desktopBorder);
	}
	div.selfPromo {
		cursor: pointer;
		border: var(--desktopBorder);
		background-image: url(assets/Promo.png);
		height: 40vh;
		width: 40%;
	}
	div.monthlyIdea {
		height: 40vh;
		border: var(--desktopBorder);
	}
	div.random {
		border: var(--desktopBorder);
	}
	div.option{
		width: 24.03vw;
		height: 27vw;
		float: left;
		margin-top: 10vh;
		margin-left: 11vw;
		margin-right: 11vw;
		border: var(--desktopBorder);
	}
	div.option input {
		height: 27vw;
		width: 24.03vw;
	}
	div.photoContainer {
		margin-left: 25%;
	}
	table.colourPallet{
		height: 720%;
	}
}
/*<----------------------------------------------Home Page Stuff---------------------------------------------->*/
.homeButton{
	padding-top: 12px;
	background-color: rgb(246,209,205);
	background-size: cover;
	background-clip: border-box;
	border-width: 4px;
	border-style: solid;
	border-color: rgb(216,178,174);
	vertical-align: middle;
	font-size: .5rem;
	letter-spacing: 1.75px;
	line-height: 1.25;
	color: var(--textColour);
	text-shadow: var(--textShadow);
}
@keyframes welcome {
	0% {font-size: .5rem;}
	25% {font-size: .55rem;}
	50% {font-size: .5rem;}
	75% {font-size: .55rem;} 
}
div.intro{
	border-image: var(--borderImg2);
	-webkit-border-image: var(--borderImg2);
	-moz-border-image: var(--borderImg2);
	-o-border-image: var(--borderImg2);
	border-image-slice: 17;
}
div.selfPromo {
	border-image: var(--borderImg2);
	-webkit-border-image: var(--borderImg2);
	-moz-border-image: var(--borderImg2);
	-o-border-image: var(--borderImg2);
	border-image-slice: 17;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
div.monthlyIdea{
	overflow-y: scroll;
	overflow-x: hidden;
	border-image: var(--borderImg1);
	-webkit-border-image: var(--borderImg1);
	-moz-border-image: var(--borderImg1);
	-o-border-image: var(--borderImg1);
	border-image-slice: 17;
}
div.monthlyIdea:hover{
	background-color: rgba(48,33,27,.85);
}
div.monthlyIdea::-webkit-scrollbar {
	width: 7px;
}
div.monthlyIdea::-webkit-scrollbar-track {
	background: rgba(0,0,0,.3);
}
div.monthlyIdea::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.3);
}
div.monthlyIdea::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,0,.6);
}
div.random{
	border-image: var(--borderImg2);
	-webkit-border-image: var(--borderImg2);
	-moz-border-image: var(--borderImg2);
	-o-border-image: var(--borderImg2);
	border-image-slice: 17;
}
mark.random{
	background: none;
	color: inherit;
}
/*<----------------------------------------------Main Pages---------------------------------------------->*/
div.option{
	padding: 0px;
	cursor: pointer;
	position: relative;
	border-image: var(--borderImg1);
	-webkit-border-image: var(--borderImg1);
	-moz-border-image: var(--borderImg1);
	-o-border-image: var(--borderImg1);
	border-image-slice: 17;
}
div.option:hover {
	background-color: rgba(0,0,0,.1);
	cursor: pointer;
}
/*<----------------------------------------------Gallery of Rex---------------------------------------------->*/
/*WORK ON REMOVING WITH BETTER STANDARDIZATION*/
div.photoContainer {
	width: 50%;
	border: var(--desktopBorder);
	border-image: var(--borderImg2);
	-webkit-border-image: var(--borderImg2);
	-moz-border-image: var(--borderImg2);
	-o-border-image: var(--borderImg2);
	border-image-slice: 17;
	background-color: rgba(48,33,27,.6);
	background-clip: padding-box;
}
.rexPhotos {
	margin-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.rexColumn {
	padding: 4px;
	flex: 1;
	-ms-flex: 1;
}
.rexColumn img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
 	border-width: var(--borderWidth);
	border-style: solid;
	border-color: var(--borderColour);
}
div.photoPadding{
	width: 11%;
}
/*<----------------------------------------------Colour Gen---------------------------------------------->*/
input.input{
	margin-top: -.5%;
	padding-top: .5%;
	padding-left: .25%;
	margin-bottom: -.25%;
	text-align: center;
	border-radius: 25%;
}
input.rgbInput{
	width: 2.25%;
}
input.hexInput{
	width: 5%;
}
table.colourPallet{
	margin-left: 10%;
	width: 80%;
}
input.colour{
	width: 100%;
	height: 100%;
	padding: 0%;
	display: none;
}
/*<----------------------------------------------Prototype1---------------------------------------------->*/
div.proto1{
	width: 1080px;
	height: 2572px;
	margin-left: auto;
	margin-right: auto;
	
	background-image: url(assets/prototype1.png);
	background-repeat: no-repeat;
	
	border: 30px solid transparent;
	border-image: var(--borderImg2);
	-webkit-border-image: var(--borderImg2);
	-moz-border-image: var(--borderImg2);
	-o-border-image: var(--borderImg2);
	border-image-slice: 17;
}
input.proto1Square{
	position: absolute;
	width: 46px;
	height: 52px;
	
	border: none;
	background: none;
}
input.proto1Circle{
	position: absolute;
	width: 50px;
	height: 60px;
	
	border: none;
	border-radius: 100%;
	background: none;
}
input.proto1Boss{
	position: absolute;
	width: 50px;
	height: 60px;
	
	border: none;
	border-radius: 100%;
	background: none;
}
div.score{
	position: fixed;
	margin-left: 63%;
	margin-top: 15px;
}
input.proto1Square:hover{
	background-color: rgba(100,100,255,0.25);
}
input.proto1Circle:hover{
	background-color: rgba(255,100,100,0.25);
}
input.proto1Boss:hover{
	background-color: rgba(0,0,0,0.25);
}