/*Z-Index Legend*/
/*  #0: Default
/*  #1:
/*  #2:
/*  #3:
/*  #4:
/*  #5: Content;
/*  #6: Proto1 Score;
/*  #7: Banner;
/*  #8:
/*  #9: Dropdown Content;
/* #10: Banner Buttons;
/* #11: Welcome Message;
*/
/*<----------------------------------------------Root Stuff---------------------------------------------->*/
@font-face {
	font-family: Maker;
	src: url(assets/font.woff);
}
:root{
	--phoneUnit: 0.75rem;
	--phoneBorder: 17px solid transparent;
	--desktopUnit: 0.875rem;
	--desktopBorder: 33px solid transparent;
	
	--titleColour: #e4d1d0;
	--textColour: #e4d1d0;
	--textShadowColour: #190f12;
	--textShadow: 1px 0px 2px var(--textShadowColour),
				  0px 1px 2px var(--textShadowColour),
				  -1px 0px 2px var(--textShadowColour),
				  0px -1px 2px var(--textShadowColour),
				
				  1px 1px 2px var(--textShadowColour),
				  -1px 1px 2px var(--textShadowColour),
				  1px -1px 2px var(--textShadowColour),
				  -1px -1px 2px var(--textShadowColour);
	--borderGeneric: 1px solid #190f12;
	--borderImg: url(assets/borderDay.png) 11 repeat;
	--borderSlice: 17;
	--ditherFill: url(assets/dither.png), rgba(54,54,54,0.8);
}

/*<----------------------------------------------Default (Desktop)---------------------------------------------->*/
/*General*/
html{
	font-family: Maker;
	font-size: 70px;
	text-align: center;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	background-repeat: no-repeat;
	background-attachment: scroll;
	overflow-x: hidden;
}
html::-webkit-scrollbar{
	width: 0px;
}
body{
	margin: 0;
}
h1{
	padding-top: 35px;
	padding-bottom: 10px;
	font-size: 0.7rem;
	letter-spacing: 8px;
	word-spacing: 16px;
	line-height: 0.5;
	margin: 0;
	color: var(--titleColour);
	text-align: center;
	text-shadow: var(--textShadow);
}
p{
	font-size: 0.5rem;
	letter-spacing: 0px;
	word-spacing: 3px;
	line-height: 1.25;
	vertical-align: middle;
	color: var(--textColour);
	text-shadow: var(--textShadow);
}
a{
	font-size: .7rem;
	letter-spacing: 1.75px;
	line-height: 45px;
	padding: .1rem;
	vertical-align: middle;
	color: var(--titleColour);
	text-shadow: var(--textShadow);
	border: 1px solid transparent;
}
button{
	font-size: 0.5rem;
	letter-spacing: 1.75px;
	line-height: 1.25;
	cursor: pointer;
	font-family: inherit;
	background-color: transparent;
	border: none;
	vertical-align: middle;
	color: var(--textColour);
	text-shadow: var(--textShadow);
}
input{
	font-size: .5rem;
	letter-spacing: 1.75px;
	line-height: 1.25;
	font-family: inherit;
	background-color: rgba(48,33,27,.5);
	border: var(--borderGeneric);
	vertical-align: middle;
	color: var(--textColour);
	text-shadow: var(--textShadow);
}
div.banner{
	z-index: 7;
	position: fixed;
	width: 100%;
	height: 1.375rem;/*var(--desktopUnit) + 0.5rem*/
	margin-top: 0px;
	background: rgba(205,145,142,0.9);
	border: var(--borderGeneric);
	border-top: none;
	border-left: none;
	border-right: none;
}
div.content{
	position: absolute;
	z-index: 5;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}
img.picture{
	cursor: pointer;
	position: relative;
	height: 24vw;
	width: 32vw;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: var(--desktopBorder);
	border-image: var(--borderImg);
	-webkit-border-image: var(--borderImg);
	-moz-border-image: var(--borderImg);
	-o-border-image: var(--borderImg);
	border-image-slice: var(--borderSlice);
}
div.paragraph{
	margin-top: 50px;
	width: 60%;
	padding-left: 1vw;
	padding-right: 1vw;
	background: var(--ditherFill);
	background-clip: padding-box;
	background-size: 0.5rem;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: var(--desktopBorder);
	border-image: var(--borderImg);
	-webkit-border-image: var(--borderImg);
	-moz-border-image: var(--borderImg);
	-o-border-image: var(--borderImg);
	border-image-slice: var(--borderSlice);
}
div.padding{
	padding-bottom: 150px;
}
div.dropdown{
	position: absolute;
	display: inline-block;
	left: 0px;
}
div.dropdowncontent{
	display: none;
	position: absolute;
	text-align: left;
	z-index: 9;
}
mark.welcome{
	position: absolute;
	width: 100%;
	margin: 0;
	z-index: 11;
	background: transparent;
	color: var(--titleColour);
	text-shadow: var(--textShadow);
	transform: rotate(30deg);
	float: right;
	animation-name: welcome;
	animation-duration: 4s;
}
table.bannerButtons{
	z-index: 10;
	position: absolute;
	width: 100%;
	padding: 0.1rem 0;
}
table.colourPallet{
	height: 720%;
}
.mainButton{
	padding: 0.2rem 0.2rem 0.1rem;
	font-size: 0.5rem;
	letter-spacing: 0px;
	line-height: 1.25;
	color: var(--textColour);
	text-shadow: var(--textShadow);
	background-color: rgb(228,209,208);
	border: var(--borderGeneric);
}
.iconButton{
	height: var(--desktopUnit);
	width: var(--desktopUnit);
	background-size: 300% 300%;
	background-repeat: no-repeat;
	background-image: url(assets/ButtonSprites.png);
	border: var(--borderGeneric);
}
.dropdown{
	padding-left: 2.5%;
	text-align: left;
}
.dropdownbutton{
	height: var(--desktopUnit);
	width: var(--desktopUnit);
	background-position: 0% 0%;
}
.contacts{
	padding-right: 2.5%;
	text-align: right;
}
.twitchLink{
	height: var(--desktopUnit);
	width: var(--desktopUnit);
	background-position: 50% 0%;
}
.youtubeLink{
	height: var(--desktopUnit);
	width: var(--desktopUnit);
	background-position: 0% 50%;
}
.instaLink{
	height: var(--desktopUnit);
	width: var(--desktopUnit);
	background-position: 100% 0%;
}
.twitterLink{
	height: var(--desktopUnit);
	width: var(--desktopUnit);
	background-position: 50% 50%;
}
.contact{
	height: var(--desktopUnit);
	width: var(--desktopUnit);
	background-position: 0% 100%;
}
.gdcLink {
	height: var(--desktopUnit);
	width: var(--desktopUnit);
	background-position: 100% 50%;
}
.redditLink{
	height: var(--desktopUnit);
	width: var(--desktopUnit);
	background-position: 50% 100%;
}
.dropdowncontent a:hover{
	text-shadow: var(--textShadow);
	background-color: rgba(0,0,0,.1);
	border-width: var(--borderWidth);
	border-style: solid;
	border-color: var(--borderColour);
}
.dropdown:hover .dropdowncontent{
	display: block;
}
.dropdown:hover .dropdownbutton{
	background-color: none;
}
	
/*Home Page*/
@keyframes welcome{
	0% {font-size: .5rem;}
	25% {font-size: .55rem;}
	50% {font-size: .5rem;}
	75% {font-size: .55rem;} 
}
div.monthlyIdea{
	height: 40vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
div.monthlyIdea:hover{
	background-color: rgba(54,54,54,.85);
}
div.monthlyIdea::-webkit-scrollbar-track {
	background: rgba(0,0,0,.3);
}
div.monthlyIdea::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.3);
}
div.monthlyIdea::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,0,.6);
}
div.monthlyIdea::-webkit-scrollbar{
	width: 7px;
}
	
/*Main Pages*/
div.subpage{
	cursor: pointer;
	position: relative;
	float: left;
	width: 24.03vw;
	height: 27vw;
	margin-top: 10vh;
	margin-left: 11vw;
	margin-right: 11vw;
	padding: 0px;
	border: var(--desktopBorder);
	border-image: var(--borderImg);
	-webkit-border-image: var(--borderImg);
	-moz-border-image: var(--borderImg);
	-o-border-image: var(--borderImg);
	border-image-slice: var(--borderSlice);
}
div.subpage:hover {
	background-color: rgba(0,0,0,.1);
	cursor: pointer;
}
input.subpage{
	height: 27vw;
	width: 24.03vw;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
}

/*<----------------------------------------------Phones---------------------------------------------->*/
@media screen and (max-aspect-ratio: 16/9) {
	/*General*/
	html{
		font-size: 40px;
		background-size: 100vw 100vh;
	}
	h1{
		padding-top: 20px;
		padding-bottom: 5px;
		font-size: var(--phoneUnit);
		letter-spacing: 8px;
		word-spacing: 16px;
		line-height: 30px;
	}
	h1.banner{
		display: none;
	}
	p{
		font-size: .5rem;
		letter-spacing: 0px;
		word-spacing: 3px;
		line-height: 1.25;
	}
	a{
		font-size: .7rem;
		letter-spacing: 1.75px;
		line-height: 45px;
		padding: .1rem;
	}
	button{
		font-size: .5rem;
		letter-spacing: 1.75px;
		line-height: 1.25;
	}
	input{
		font-size: .5rem;
		letter-spacing: 1.75px;
		line-height: 1.25;
	}
	div.content{
		padding-top: 1.375rem;
		padding-bottom: 1.875rem;
	}
	img.picture{
		height: 48vw;
		width: 64vw;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		border: var(--phoneBorder);
		border-image: var(--borderImg);
		-webkit-border-image: var(--borderImg);
		-moz-border-image: var(--borderImg);
		-o-border-image: var(--borderImg);
		border-image-slice: var(--borderSlice);
	}
	div.paragraph{
		width: 80%;
		border: var(--phoneBorder);
		border-image: var(--borderImg);
		-webkit-border-image: var(--borderImg);
		-moz-border-image: var(--borderImg);
		-o-border-image: var(--borderImg);
		border-image-slice: var(--borderSlice);
	}
	div.padding{
		padding-bottom: 100px;
	}
	mark.welcome{
		display: none;
	}
	table.colourPallet{
		height: 360%;
	}
	.mainButton{
		/*padding-top: 12px;
		border-width: 4px;
		font-size: .5rem;
		letter-spacing: 1.75px;
		line-height: 1.25;*/
	}
	.iconButton{
		height: var(--phoneUnit);
		width: var(--phoneUnit);
	}
	
	/*Home Page*/
	div.monthlyIdea{
		height: 50vh;
	}
	div.monthlyIdea::-webkit-scrollbar{
		width: 7px;
	}
	
	/*Main Pages*/
	div.subpage{
		float: none;
		height: 88vw;
		width: 66vw;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		border: var(--phoneBorder);
		border-image: var(--borderImg);
		-webkit-border-image: var(--borderImg);
		-moz-border-image: var(--borderImg);
		-o-border-image: var(--borderImg);
		border-image-slice: var(--borderSlice);
	}
	input.subpage{
		height: 88vw;
		width: 100%;
	}
}