@font-face {
	font-family: Maker;
	src: url(font.woff);
}
html{
	margin:0;
	height: 100%;
	font-family: Maker;
	font-size: 70px;
	text-align: center;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
}
body{
	margin: 0;
	height: 100%;
	background-color: rgb(250,250,255);
}
h1{
	padding-top: 20px;
	padding-bottom: 10px;
	color: rgb(242,146,207);
	font-size: .8rem;
	letter-spacing: 3.5px;
	text-shadow:
		1px 0px 2px rgb(100,66,56),
		0px 1px 2px rgb(100,66,56),
		-1px 0px 2px rgb(100,66,56),
		0px -1px 2px rgb(100,66,56),
		
		1px 1px 2px rgb(100,66,56),
		-1px 1px 2px rgb(100,66,56),
		1px -1px 2px rgb(100,66,56),
		-1px -1px 2px rgb(100,66,56);
	background: 
		linear-gradient(
		295deg,
		rgba(0,0,0,0) 50%,
		rgb(222,146,124) 50% 50.25%,
		rgb(244,161,136) 50.25% 50.75%,
		rgb(222,146,124) 50.75% 51%,
		rgba(0,0,0,0) 51%),
		
		linear-gradient(
		65deg,
		rgba(244,161,136,.8) 30%,
		rgba(244,161,136,.85) 30% 70%,
		rgba(244,161,136,.8) 70%);
	border-style: solid;
	border-color: rgb(98,68,56);
	border-bottom-width: 1px;
	border-style: solid;
	border-top:none;
	border-left: none;
	border-right: none;
}
p{
	vertical-align: middle;
	font-size: .5rem;
	letter-spacing: 1.75px;
	line-height: 1.25;
	color: rgb(245,178,160);
	text-shadow:
		1px 0px 2px rgb(100,66,56),
		0px 1px 2px rgb(100,66,56),
		-1px 0px 2px rgb(100,66,56),
		0px -1px 2px rgb(100,66,56);
}
a{
	vertical-align: middle;
	font-size: .7rem;
	letter-spacing: 1.75px;
	line-height: 45px;
	color: rgb(242,146,207);
	text-shadow:
		1px 0px 2px rgb(100,66,56),
		0px 1px 2px rgb(100,66,56),
		-1px 0px 2px rgb(100,66,56),
		0px -1px 2px rgb(100,66,56);
	padding: .1rem;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}
mark.cerealReviewButton{
	background-color: transparent;
	vertical-align: middle;
	font-size: .5rem;
	letter-spacing: 1.75px;
	line-height: 1.25;
	color: rgb(245,178,160);
	text-shadow:
		1px 0px 2px rgb(100,66,56),
		0px 1px 2px rgb(100,66,56),
		-1px 0px 2px rgb(100,66,56),
		0px -1px 2px rgb(100,66,56);
}
button{
	font-family: inherit;
	background-color: rgba(98,68,56,.5);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(98,68,56);
	vertical-align: middle;
	font-size: .5rem;
	letter-spacing: 1.75px;
	line-height: 1.25;
	color: rgb(245,178,160);
	text-shadow:
		1px 0px 2px rgb(100,66,56),
		0px 1px 2px rgb(100,66,56),
		-1px 0px 2px rgb(100,66,56),
		0px -1px 2px rgb(100,66,56);
}
input{
	font-family: inherit;
	background-color: rgba(98,68,56,.5);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(98,68,56);
	vertical-align: middle;
	font-size: .5rem;
	letter-spacing: 1.75px;
	line-height: 1.25;
	color: rgb(245,178,160);
	text-shadow:
		1px 0px 2px rgb(98,68,56),
		0px 1px 2px rgb(98,68,56),
		-1px 0px 2px rgb(98,68,56),
		0px -1px 2px rgb(98,68,56);
}
div.banner {
	margin-top: -47px;
	position: fixed;
	z-index:8;
	width: 100%;
}
div.content{
	z-index: 5;
	position: absolute;
	width: 100%;
}
div.intro{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	overflow: overlay;
	background-color: rgba(98,68,56,.6);
	background-clip: content-box;
	border: 33px solid transparent;
	border-image: url(contentborder1.png) 11 repeat;
	border-image-slice: 17;
}
div.cereal{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	overflow: overlay;
	background-color: rgba(98,68,56,.6);
	background-clip: content-box;
	border: 33px solid transparent;
	border-image: url(contentborder1.png) 11 repeat;
	border-image-slice: 17;
}
div.galleryRex{
	position: fixed;
	width: 9.8rem;
	height: 11rem;
	margin-top: 9%;
	margin-left: 13%;
	border: 33px solid transparent;
	border-image: url(contentborder1.png) 11 repeat;
	border-image-slice: 17;
}
div.galleryRex:hover{
	background-color: rgba(0,0,0,.1);
}
div.photoContainer {
	position: absolute;
	width: 75%;
	margin-left: 12%;
	margin-right: 13%;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border: 33px solid transparent;
	border-image: url(contentborder1.png) 11 repeat;
	border-image-slice: 17;
	background-color: rgba(98,68,56,.5);
}
.rexPhotos {
	margin-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.rexColumn {
	flex: 33%;
	max-width: 25%;
	padding: 0 4px;
}
.rexColumn img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
 	border-width: 1px;
	border-style: solid;
	border-color: rgb(98,68,56);
}
@media screen and (max-width: 800px) {
	.rexColumn {
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.rexColumn {
		flex: 100%;
		max-width: 100%;
	}
}
div.galleryArt{
	position: fixed;
	width: 9.8rem;
	height: 11rem;
	margin-top: 9%;
	margin-left: 57%;
	border: 33px solid transparent;
	border-image: url(contentborder1.png) 11 repeat;
	border-image-slice: 17;
}
div.galleryArt:hover{
	background-color: rgba(0,0,0,.1);
}
div.classBasic{
	position: fixed;
	width: 9.8rem;
	height: 11rem;
	margin-top: 9%;
	margin-left: 13%;
	background-image: url(classBasic.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 33px solid transparent;
	border-image: url(contentborder1.png) 11 repeat;
	border-image-slice: 17;
}
div.classBasic:hover{
	background-color: rgba(0,0,0,.1);
}
div.classAdvance{
	position: fixed;
	width: 9.8rem;
	height: 11rem;
	margin-top: 9%;
	margin-left: 57%;
	background-image: url(classAdvance.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 33px solid transparent;
	border-image: url(contentborder1.png) 11 repeat;
	border-image-slice: 17;
}
div.classAdvance:hover{
	background-color: rgba(0,0,0,.1);
}
div.padding150{
	padding-top: 150px;
}
div.photoPadding{
	width: 11%;
}
div.dropdown{
	margin-left: .5rem;
	margin-top: .05rem;
	position: fixed;
	z-index: 10;
}
.dropdownbutton{
	height: .8rem;
	width: .8rem;
	background-image: url(dropdownbutton.png);
	background-size: cover;
	background-repeat: no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(98,68,56);
}
div.dropdowncontent{
	display: none;
	position: absolute;
	z-index: 9;
}
.dropdowncontent a:hover {
	text-shadow:
		1px 0px 2px rgb(100,66,56),
		0px 1px 2px rgb(100,66,56),
		-1px 0px 2px rgb(100,66,56),
		0px -1px 2px rgb(100,66,56),
		
		1px 1px 2px rgb(100,66,56),
		-1px 1px 2px rgb(100,66,56),
		1px -1px 2px rgb(100,66,56),
		-1px -1px 2px rgb(100,66,56);
	background-color: rgba(0,0,0,.1);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(98,68,56);
}
.dropdown:hover .dropdowncontent{
	display: block;
}
.dropdown:hover .dropdownbutton{
	background-color: none;
}
::-webkit-scrollbar{
	width: 0px;
}
.class {
	float: left;
	width: 10%;
}
.class img {
	opacity: 0.8;
	cursor: pointer;
	width: 50%;
}
.class img:hover {
	opacity: 1;
}
.classChoose{
	padding-top: 1.5rem;
	width: 90%;
	margin: auto;
}
.classChoose:after {
	content: "";
	display: table;
	clear: both;
}
.container {
	position: relative;
	display: none;
	width: 70%;
	padding-bottom: 1rem;
	margin: auto;
}
#imgtext {
	position: absolute;
	width: 92%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	top: 1rem;
	color: rgb(245,178,160);
	text-shadow:
		1px 0px 2px rgb(100,66,56),
		0px 1px 2px rgb(100,66,56),
		-1px 0px 2px rgb(100,66,56),
		0px -1px 2px rgb(100,66,56);
	font-size: .5rem;
	border: 33px solid transparent;
	border-image: url(contentborder1.png) 11 repeat;
	border-image-slice: 17;
	z-index: 4;
	background-color: rgba(98,68,56,.6);
	background-clip: padding-box;
}