:root{
	--phoneBorder: 17px solid transparent;
	--desktopBorder: 33px solid transparent;
	--borderImg: url(../assets/border_day.png) 11 repeat;
	--borderSlice: 17;
	--borderGeneric: 1px solid #190f12;
	--ditherFill: url(../assets/dither.png), rgba(54,54,54,0.8);
}
div.score{
	position: fixed;
	z-index: 6;
	width: 10%;
	margin-top: 5%;
	margin-left: 80%;
	background: var(--ditherFill);
	background-clip: padding-box;
	background-size: 0.5rem;
	border: var(--desktopBorder);
	border-image: var(--borderImg);
	-webkit-border-image: var(--borderImg);
	-moz-border-image: var(--borderImg);
	-o-border-image: var(--borderImg);
	border-image-slice: var(--borderSlice);
}
div.proto1{
	text-align: left;
	width: 40vw;
	height: 90vw;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border: var(--desktopBorder);
	border-image: var(--borderImg);
	-webkit-border-image: var(--borderImg);
	-moz-border-image: var(--borderImg);
	-o-border-image: var(--borderImg);
	border-image-slice: var(--borderSlice);
}
img.proto1{
	position: absolute;
	width: 40vw;
	height: 90vw;
}
input.proto1Square{
	position: absolute;
	width: 1.5vw;
	height: 1.5vw;
	background-color: transparent;
	border: none;
}
input.proto1Circle{
	position: absolute;
	width: 2vw;
	height: 2vw;
	background-color: transparent;
	border: none;
	border-radius: 100%;
}
input.proto1Square:hover{
	background-color: rgba(100,100,255,0.25);
}
input.proto1Circle:hover{
	background-color: rgba(255,100,100,0.25);
}
input.proto1Boss:hover{
	background-color: rgba(0,0,0,0.25);
}

/*dialogs*/
#dialog12{
	margin-top: 6vw;
	margin-left: 19.5vw;
}
#dialog11{
	margin-top: 12.5vw;
	margin-left: 19vw;
}
#dialog10{
	margin-top: 18.5vw;
	margin-left: 19.5vw;
}
#dialog9{
	margin-top: 30vw;
	margin-left: 19vw;
}
#dialog8{
	margin-top: 35.5vw;
	margin-left: 19vw;
}
#dialog7{
	margin-top: 42vw;
	margin-left: 19vw;
}
#dialog6{
	margin-top: 51.5vw;
	margin-left: 18.5vw;
}
#dialog5{
	margin-top: 58vw;
	margin-left: 18.5vw;
}
#dialog4{
	margin-top: 63vw;
	margin-left: 18.5vw;
}
#dialog3{
	margin-top: 73.5vw;
	margin-left: 18.5vw;
}
#dialog2{
	margin-top: 80vw;
	margin-left: 18.5vw;
}
#dialog1{
	margin-top: 85vw;
	margin-left: 18.5vw;
}

/*combats*/
#combat12{
	margin-top: 6.5vw;
	margin-left: 14vw;
}
#combat11{
	margin-top: 12.5vw;
	margin-left: 24vw;
}
#combat10{
	margin-top: 18.5vw;
	margin-left: 14vw;
}
#combat9{
	margin-top: 29.5vw;
	margin-left: 24vw;
}
#combat8{
	margin-top: 35.5vw;
	margin-left: 13vw;
}
#combat7{
	margin-top: 41.5vw;
	margin-left: 23vw;
}
#combat6{
	margin-top: 51vw;
	margin-left: 13.5vw;
}
#combat5{
	margin-top: 58vw;
	margin-left: 22.5vw;
}
#combat4{
	margin-top: 62.5vw;
	margin-left: 13vw;
}
#combat3{
	margin-top: 73.5vw;
	margin-left: 23vw;
}
#combat2{
	margin-top: 80vw;
	margin-left: 15vw;
}
#combat1{
	margin-top: 84.5vw;
	margin-left: 22.5vw;
}

/*bosses*/
#--boss4{
	margin-top: 0vw;
	margin-left: 19vw;
}
#--boss3{
	margin-top: 23vw;
	margin-left: 19vw;
}
#--boss2{
	margin-top: 46vw;
	margin-left: 18.5vw;
}
#--boss1{
	margin-top: 68.5vw;
	margin-left: 18vw;
}

/*<----------------------------------------------Phones---------------------------------------------->*/
@media screen and (max-aspect-ratio: 16/9) {
	div.score{
		width: 30%;
		margin-top: 0;
		margin-left: 70%;
		border: var(--borderGeneric);
	}
	div.proto1{
		width: 80vw;
		height: 180vw;
		border: var(--phoneBorder);
		border-image: var(--borderImg);
		-webkit-border-image: var(--borderImg);
		-moz-border-image: var(--borderImg);
		-o-border-image: var(--borderImg);
		border-image-slice: var(--borderSlice);
	}
	img.proto1{
		width: 80vw;
		height: 180vw;
	}
	input.proto1Square{
		width: 3vw;
		height: 3vw;
	}
	input.proto1Circle{
		width: 4vw;
		height: 4vw;
	}
	
	/*dialogs*/
	#dialog12{
		margin-top: 12vw;
		margin-left: 39vw;
	}
	#dialog11{
		margin-top: 25vw;
		margin-left: 38vw;
	}
	#dialog10{
		margin-top: 37vw;
		margin-left: 39vw;
	}
	#dialog9{
		margin-top: 60vw;
		margin-left: 38vw;
	}
	#dialog8{
		margin-top: 71vw;
		margin-left: 38vw;
	}
	#dialog7{
		margin-top: 84vw;
		margin-left: 38vw;
	}
	#dialog6{
		margin-top: 103vw;
		margin-left: 37vw;
	}
	#dialog5{
		margin-top: 116vw;
		margin-left: 37vw;
	}
	#dialog4{
		margin-top: 126vw;
		margin-left: 37vw;
	}
	#dialog3{
		margin-top: 147vw;
		margin-left: 37vw;
	}
	#dialog2{
		margin-top: 160vw;
		margin-left: 38vw;
	}
	#dialog1{
		margin-top: 170vw;
		margin-left: 37vw;
	}
	
	/*combats*/
	#combat12{
		margin-top: 13vw;
		margin-left: 28vw;
	}
	#combat11{
		margin-top: 25vw;
		margin-left: 48vw;
	}
	#combat10{
		margin-top: 37vw;
		margin-left: 28vw;
	}
	#combat9{
		margin-top: 59vw;
		margin-left: 48vw;
	}
	#combat8{
		margin-top: 71vw;
		margin-left: 26vw;
	}
	#combat7{
		margin-top: 83vw;
		margin-left: 46vw;
	}
	#combat6{
		margin-top: 102vw;
		margin-left: 27vw;
	}
	#combat5{
		margin-top: 116vw;
		margin-left: 46vw;
	}
	#combat4{
		margin-top: 125vw;
		margin-left: 26vw;
	}
	#combat3{
		margin-top: 147vw;
		margin-left: 46vw;
	}
	#combat2{
		margin-top: 160vw;
		margin-left: 30vw;
	}
	#combat1{
		margin-top: 169vw;
		margin-left: 46vw;
	}
	
	/*bosses*/
	#--boss4{
		margin-top: 0vw;
		margin-left: 39vw;
	}
	#--boss3{
		margin-top: 46vw;
		margin-left: 38vw;
	}
	#--boss2{
		margin-top: 92vw;
		margin-left: 37vw;
	}
	#--boss1{
		margin-top: 137vw;
		margin-left: 37vw;
	}
}